li {
  list-style: none;
  border-radius: 45px;
}

ul {
  width: auto;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 6fr 1fr;
  grid-row-gap: 25px;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
  max-width: max-content;
}

.categoriacard {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-column-gap: 20px;
  height: 18vh;
  width: 80vw;
  padding: 1.5rem;
  border-radius: 25px;
}

.buttonfav {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0.17px solid #d0d1d8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  align-self: start;
}

.buttonroute {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0.17px solid #d0d1d8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  align-self: end;
}

.categoriacardopen {
  padding: 1.5rem;
}

li {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 7px 0px #00000033;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

li:last-child {
  margin-bottom: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

.row {
  width: 100%;
  height: 8px;
  background-color: #999;
  border-radius: 10px;
  margin-top: 12px;
}
