.introdiv {
  background: #ffffff;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #393c6a;
  text-align: center;
  padding: 2.75rem;
}

.introdiv3 {
  background: #ffffff;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #393c6a;
  text-align: center;
  padding: 2.75rem;
}
