@font-face {
  font-family: "ManropeRegular";
  src: url("assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ManropeBold";
  src: url("assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ManropeExtraBold";
  src: url("assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "ManropeLight";
  src: url("assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "ManropeExtraLight";
  src: url("assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "ManropeMedium";
  src: url("assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ManropeSemiBold";
  src: url("assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "ManropeRegular";
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
/*Não é permitido remover desta maneira, viola os Terms of Service. Pelo que vi assim por alto, teríamos de pagar para remover. Mas well por agora fica assim ¯\_(ツ)_/¯*/
